name: Testing Proyect

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  build:
    name: Estilo de c칩digo y pruebas
    runs-on: ubuntu-latest
    env:
      PORT: 3001
      NODE_ENV: dev
      APP_SECRET: "-QV.Ll침vjQ침칌침8;5침#jyL침l;sY;jlyy8-;DjJYlDddd칌@2Q;gd6;53d88;583@299QQ@Y3yql칌qD+y"
      API_PREFIX: api
      DATABASE_URL: "postgresql://dev:devtest@localhost:5432/postgres?schema=public"
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: dev
          POSTGRES_PASSWORD: devtest
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # Health check
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5


    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
          cache: npm

      - name: 游닍 Instalando Dependencias
        run: npm i
        
      - name: 丘뙖잺 Generando cliente Prisma
        run: npx prisma generate

      - name: 游댃 Actualizando esquema de base de datos
        run: npx prisma db push --preview-feature

      - name: 游빍 Corriendo Todos los Test
        run: npm run test

      - name: 游눇 Estilo de codigo
        run: npm run style
        
      - name: 游깷 Enviando Reporte de Cobertura a Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage/lcov.info
